@media print{
	.hide_print{display:none;}
	.print{display:block !important;max-width:200px;}
}

nav.nav {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 5000;
}

body {
    background-image: url('../images/back.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow: hidden;
}

.container {
    background-color: rgba(225, 51, 0, 0.42);
    min-height: 100vh;
}

h1.main_title {
    color: #ffffff;
    font-size: 400%;
    text-align: center;
    margin-top: 150px;
}

.box{
	position: absolute;
    margin-left: 10px;
    margin-top: 50px;
	z-index: 5000;
}

.index{
	z-index: 5050;
}

.print_slip{
	max-width: 300px;
	margin: auto;
}
