body {
    background-image: url('../images/back.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 100vh;
	overflow-x: hidden;
}

#main{
	background-color: #eeeeee;
	padding:10px;
}

#main .form{
	max-width:300px;
	margin:auto;
}

#main .table {
    background: #ffffff;
}

#main .table tbody tr td {
    cursor: pointer;
}

#main .order_table {
    display: block;
    background: #ffffff;
    padding: 20px;
    text-align: center;
    color: #444444;
    text-decoration: none;
    border-radius: 1000px;
    min-height: 200px;
	line-height: 40px;
}

#main #food_item {
    position: absolute;
	z-index:500;
}
